html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0;

    background: url("../images/background.png") repeat;
}

.center-wrapper {
    text-align: center;
}

.center-wrapper::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center {
    display: inline-block;
    vertical-align: middle;
}

#game-panel {
    border: 2px solid darkgray;
    background: url("../images/bg.png") no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 20px black;

    -webkit-transition: opacity 1000ms;
    transition: opacity 1000ms;
}

.hidden {
    opacity: 0;
}
